.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    width: max-content;
}
.one {
    margin:0px;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / span 2;
}
.two {
    grid-row: 2;
    grid-column: 1;
}
.three {
    display: block;
    grid-row: 2;
    grid-column: 2;
}
.four {
    grid-row: 3;
    grid-column: 1 / span 2;
}
.DownloaderTitle{
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    display: inline-block;
}

#WebtoonInfoHead{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    display: inline-block;
}

#WebtoonTitle{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    display: inline-block;
}

#WebtoonTitleAutohr{
    font-size: 15px;
    margin: 0px;
    display: inline-block;
}

#WebtoonCompany{
    font-size: 15px;
    margin: 0px;
    display: inline-block;
}

#WebtoonEpisodeName{
    font-size: 15px;
    margin: 0px;
    display: inline-block;
}

label{
    width: auto;
}

.LabelType{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
}